﻿@charset 'UTF-8';

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Tahoma, Verdana, Arial, san-serif;
    font-size: 14px;
    color: #fff;
    background-color: #000;
}

a,
a:active,
a:hover {
    color: #fff;
    text-decoration: underline;
}

h1,
h2,
h3 {
    margin-top: 10px;
}

.people-data,
p {
    padding: 0 0 10px 0;
    text-align: justify;
    clear: both;
    margin: auto;
}

.container {
    background-image: url("../images/back-gnd.jpg");
}

.follow-wrp {
    float: right;
    min-width: 110px;
}

.follow-wrp img {
    float: right;
    width: 25px;
}

#header-wrapper {
    text-align: center;
}

#church-img img {
    margin: 0 auto;
}

#church-name {
    text-shadow: 3px 3px 3px #000;
}

hr.horizontal-line {
    border-top: 1px solid #fff;
    margin: 12px 5%;
    text-align: center;
}

hr.horizontal-line::after {
    color: #fff;
    content: "✞";
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -11px;
}

#main-wrapper {
    padding: 9px 4% 20px;
}

#main-wrapper .trans-bck-gnd {
    background: rgba(205, 102, 29, 1);
    border: 1px solid rgb(184, 91, 26);
    padding: 0 2%;
    border-radius: 10px;
}

#mainNavbar {
    clear: both;
    float: none;
    border: none;
}

#mainNavbar ul {
    background: #cd661d none repeat scroll 0 0;
    border-radius: 10px;
    float: none;
    list-style: outside none none;
    margin: 5px 0 auto;
    padding: 5px;
    text-align: center;
    min-height: 45px;
}

#mainNavbar ul li a {
    padding: 5px 25px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #d5d5d5;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

#mainNavbar.collapsing .nav.navbar-nav a,
#mainNavbar.in .nav.navbar-nav a {
    border-right: none;
}

#mainNavbar li .active {
    color: #ff0;
}

#mainNavbar li a:hover {
    line-height: 25px;
    text-shadow: 1px 1px 10px #fff;
}

#mainNavbar li .last {
    border-right: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0;
}

.navbar-collapse {
    box-shadow: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-toggle {
    border: 2px solid #fff;
}

.navbar-toggle {
    margin-right: -10px;
    margin-top: -30px;
}

.navbar {
    margin: 15px 0 0;
}

.navbar button {
    z-index: 1000;
}

#table-feast {
    border: 1px solid #ddd;
}

.gallery {
    margin: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 15px #000;
}

.close-gallery {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.contact-poc-wrpr {
    margin-left: 10px;
}

#footer {
    clear: both;
    padding: 5px 0 20px;
    text-align: center;
    font-size: 11px;
    margin: 0;
}

.people-data {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    max-width: 350px;
}

.people-img img {
    display: inline-block;
}

@media only screen and (max-width:767px) {
    .navbar {
        margin: 50px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    #mainNavbar {
        padding: 0;
        position: fixed;
        left: 0;
        top: 0;
    }

    #mainNavbar ul {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    #church-name {
        padding: 0 40px 0 30px;
    }

    .navbar-toggle {
        padding: 9px 7px;
    }

    .navbar-toggle {
        margin-right: -12px;
        margin-top: -45px;
    }

    .h1,
    h1 {
        font-size: 31px;
    }

    .h2,
    h2 {
        font-size: 26px;
    }

    .h3,
    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    #mainNavbar li {
        margin: 0 -11px;
    }

    #church-name {
        padding: 0 60px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1200px) {
    #church-name {
        margin-top: 7%;
    }

    #st-thomas-img {
        margin-top: 3%;
    }

    .container {
        margin-top: 20px;
    }
}

@media(min-width:1200px) {
    #church-name {
        margin-top: 10%;
    }

    #st-thomas-img {
        margin-top: 3%;
    }

    .container {
        margin-top: 20px;
    }
}