/*
CSS Credit: http://www.templatemo.com/
*/



.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;
}


#templatemo_container{
	width: 960px;
	background: url(images/templatemo_main_bg.gif) repeat-y;
	margin: 0 auto;
	padding: 0px 10px;
}

#templatemo_header {
	font-size: 12px;
	width: 960px;
	height: 360px;
	background: url(images/templatemo_header_bg.jpg) top center no-repeat;
}

#templatemo_header #out_mission_section {
	float: left;
	width: 250px; /* padding 30 + */
	padding: 0px 15px;
	margin-top: 210px;
	margin-left: 30px;
}

#templatemo_header #daily_bible_verse_section {
	float: right;
	width: 250px; /* padding 30 + */
	padding: 0px 15px;
	margin-top: 210px;
	margin-right: 30px;
}

#daily_bible_verse_section #bible_verse {
	clear: both;
	padding-top: 5px;
	font-weight: bold;
}

/* menu */
#templatemo_menu {
	clear: both;
	width: 960px;
	height: 50px;
	background: url(images/templatemo_menu_bg.gif) repeat-x;
}

#templatemo_menu ul {
	text-align: center;
	margin: 0;
	padding: 12px 0 0 0;
	list-style: none;
}

#templatemo_menu ul li{
	text-align: center;
	display: inline;
}

#templatemo_menu ul li a{
	padding: 5px 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #4979af;
	border-right: 1px solid #d5d5d5;	
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #1d2f53;
}

#templatemo_menu li .last{
	border-right: none;
}

/* end of menu */

/* content */

#templatemo_content {
	clear: both;
	width: 960px;
	height: 100%;
}

#templatemo_content #templatemo_left {
	float: left;
	width: 280px;
	margin-top: 20px;
	margin-left: 30px;
	padding: 0;
}

#templatemo_content #templatemo_right {
	float: right;
	width: 570px;
	margin-top: 30px;
	margin-right: 30px;
	padding: 0px 0px;
}

/* left column */

#templatemo_left #templatemo_news_section {
	clear: both;
	width: 280px;
}

#templatemo_news_section h1 {
	height: 30px; /* + 20 for padding top */
	padding: 20px 0 0 15px;
	margin-bottom: 30px;
	background: url(images/templatemo_news_title_bg.gif) bottom left no-repeat;
}

#templatemo_news_section .templatemo_news_box {
	margin: 0 15px 30px 15px;
}
.templatemo_news_box h2 {
	padding: 0px;
	margin: 0 0 10px 0;
	font-size: 14px;
	color: #0099CC;
}

.templatemo_news_box h3 {
	padding: 0px;
	margin: 0 0 2px 0;
	font-size: 11px;
	color: #0099CC;
}

#templatemo_left .left_col_section {
	padding: 0px;
	margin-bottom: 30px;
}

/* end of left column */

#templatemo_right .right_col_section {
	margin-bottom: 30px;
	padding: 0px;
}

.right_col_section h1 {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	font-size: 22px;
	font-weight: normal;
	color: #0099CC;
}

.right_col_section h2 {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #0099CC;
}

.right_col_section h3 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #0099CC;
}

.right_col_section img {
	float: left;
	margin: 3px 15px 0 0;
	border: 5px solid #e4e4e4;
}

.right_col_section p{
	margin-bottom: 15px;
}

.right_col_section ul {
	margin: 15px 0;
	padding: 0 0 0 30px;
}

.right_col_section ul li {
	margin-bottom: 5px;
}

.right_col_section #welcome_title {
	height: 38px;
	background: url(images/templatemo_welcome.gif) top left no-repeat;
	margin-bottom: 20px;
}

.right_col_section .right_cleaner_with_10px {
	float: left;
	display: block;
	width: 10px;
	height: 100%;
	font-size: 1px;
}

.right_col_section .right_two_col {
	float: left;
	width: 280px;
}

.right_two_col img {
	float: none;
	margin-bottom: 10px;
}

.right_two_col p{
	margin-bottom: 5px;
}

/* end of content */

/* footer */
