<div class="trans-bck-gnd">

  <h2> Contact Us</h2>

  <p>St Thomas Syrian Simhasana Church is situated at Vettickal, which is about 25Km from Cochin(Ernakulam) town. The church is on the side of Mulanthuruthy - Vettickal - Piravom Road, around 5km from Mulanthuruthy.<br></p>

  <p>
    <strong>Railway station</strong>: Mulanthuruthy is the nearest railway station. The major railwaystation nearby is Ernakulam Junction/Town railway station.<br>
    <strong>Nearest Airport</strong>: Nedumbassery international airport is about 30Km from Vettickal.<br>
  </p>

  <p>
  <div class="contact-poc-wrpr">
    <strong>Point of Contact</strong>
    <li>Rev. Fr Mathews Varghese, Konichuvattil. Ph : +91-7012-891-243</li>
    <li>M U Paulose (Trustee), Koomullil Valyaveedu. Ph : +91-9447-378-284</li>
	<li>Jijo V John (Trustee), Vaniyenireppel. Ph : +91-9349-588-111</li>
  </div>
  </p>

  <p>
    <strong>Contact Address</strong><br>
    St Thomas Syrian Simhasana Church<br>
    Vettickal P.O<br>
    PIN - 682314<br>
    Ernakulam, Kerala, India<br>
    Email : vettickalkarmelkunnuchurch@gmail.com
  </p>
  
  <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.241389618014!2d76.42661153752789!3d9.913842939887523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0875b8a7ef416f%3A0xfc41f09aadc01fc1!2sVettickal+Karmelkkunnu+St.Thomas+Syrian+Simhasana+Church!5e0!3m2!1sen!2sin!4v1519592349574" 
		width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </p>
</div>