<div class="trans-bck-gnd">
	<h3>Parish Council</h3>
	<ul>
		<li>Rev. Fr Mathews Varghese, Konichuvattil. Ph : +91-7012-891-243(President &amp; Vicar)</li>
		<li>M U Paulose (Trustee), Koomullil Valyaveedu. Ph : +91-9447-378-284</li>
		<li>Jijo V John (Trustee), Vaniyenireppel. Ph : +91-9349-588-111</li>
	</ul>
	
	<br/>
</div>