<div class="trans-bck-gnd">
    <h2>Gallery</h2>
    <div class="gallery-images">
        <!-- <img id='g1' class="gallery" src="images/gallery1.JPG"/> -->
        <img id='g2' class="gallery" src="images/gallery2.JPG" />
        <!-- <img id='g3' class="gallery" src="images/gallery3.JPG"/>  -->
        <img id='g4' class="gallery" src="images/gallery4.JPG" />
        <!-- <img id='g5' class="gallery" src="images/gallery5.JPG"/>  -->
    </div>
</div>