<div id="history-content" class="trans-bck-gnd">
	<h1>History</h1>
	<p>The Church was founded and established in the name of St Thomas, under the Holy Apostolic See of Antioch and was
		consecrated on 8th September 1970.</p>
	<p>The localities of Vettickal wished to have a church under the Holy Apostolic See of Antioch and under Moran Mor
		Ignatius the Patriarch of Antioch and All the East. The Metropolitan of Diocese His Grace Paulose Mor Philaxinos
		accepted their request and on April 17th 1969 bought and registered the land for the church. On June 23rd 1970
		the foundation stone of the church was laid by H.G. Paulose Mor Philoxenos, on the same day in the church
		premise a cupola(kureshu pally) in the name St George was consecrated. The spiritual leader blessed the land
		again with his presence on 8th September 1970 in the holy ceremony of consecration of the Church.</p>
	<p>The main altar of the church is in the name of our patron Saint, St. Thomas. The altar on the north side is in
		the name of Our Holy Virgin Mother Saint Mary whereas the altar on the south side is in the name of Venerated
		and Proclaimed Saint of Malankara, St. Gregorios Geevarghese, popularly known as "Parumala Thirumeni". On 25th
		May 1997 a Parish Assembly that was held at the Church presided by Vicar Rev Fr E.P John, unanimously decided to
		make the church a Shimhasana Church(church that will be an autonomous unit). As per the decision of the Parish
		Assembly, on December 15th the Church was registered as a Simhasana Church in Ikaranad Sub Registrar office.</p>

	<h3>Holy Relics of H.H. Moran Mor Ignatius Elias The Third</h3>
	<p>On the northern side of the church, on the room next to the altar, the holy relics of H.H. Moran Mor Ignatius
		Elias The Third is placed by Catholicos Baselios Paulose II. The occasion was blessed with the presence of the
		H. G Dr. Geevarghese Mor Gregorious(propularly known as "Perumpally Thirumeni") and many other spiritual leaders
		of the church.</p>

	<h3>Holy Father From Antioch</h3>
	<p>Holy Father H.H Moran Mor Ignatius Zakka I Iwas - Syriac Orthodox Patriarch of Antioch and All the East, visited
		the church on 8th February 1982 and laid foundation stone for the parish hall of the church. The church gave a
		warm welcome to the holly father, which will be always remembered by the people with great pride.</p>

	<h3>Relationship with the M S O T Seminary Udayagiri</h3>
	<p>The Syrian Church has a profound history of theological education and scholasticism. Ancient theological Schools
		of Edessa and Nisibis serve as testimonies to this fact. The Malankara Syrian Orthodox Theological Seminary is a
		humble attempt to rediscover the treasures of the Syrian Church. The Seminary is situated few meters away from
		the church at the eastern side. The church holds a very good relationship with the Seminary and the people of
		the church get involved in all the public activities of the Seminary. The students and the resident Metropolitan
		of the Seminary H.G Mor Theophilos Kuriakose are frequent visitors of the church.</p>

	<h3>Sunday School</h3>
	<p>For the initial five years after the consecration of the church the Sunday school was running at St. Thomas
		Dayara Vettickal. On 1975 on a Puthu Njayar, under the strong leadership of Sri K. J Thomas, Koomullil Karavattu
		and Sri V J Jacob, Vazhakulangara the Sunday school started at the Church. Since that day the Sunday school is
		showing light to the young generation of the Church. Sunday school founded "Bala Samajam" whose primary target
		is to develop the talents of the children.</p>

	<h3>Youth Association</h3>
	<p>When mentioning about the Youth Association the first thing that comes into our mind is the prayer of General Mac
		Arther, one of the heroes of Second World War. "Build me a son, Lord who will be strong enough to know when he
		is weak, brave enough to face himself when he is afraid. Build me a son whose wishes will not take the place of
		deeds. Lead him I pray, not in the path of ease and comfort but under stress and spur of difficulties and
		challenges. Let him learn to stand in the storm; Let him learn compassion for those who fall. Build me a son
		whose heart is clear, whose goals will be high; who will reach in to the future but never forget the past. Then
		I his father will dare to whisper, I have not lived in vain amen".</p>
	<p>St. Thomas Youth Association aims to serve our society through the organisation of both spiritual and social
		events. The association members are actively involved in the day to day activities of the church and the Sunday
		school. Charity work is also one amount the top priorities of association.</p>

	<h3>Martha Mariam Vanitha Samajam</h3>
	<p>Women truly plays a major role in the strength and growth of the family. The aim of Vanitha Samjam is to enable
		women of the church to strengthen their family by living close to Jesus Christ.</p>

	<h3>Important Event In the Past</h3>
	<ul id="content">
		<li>17 April 1969 : The land in which the church is situated was bought and registered in Ikaranadu Sub Registar
			Office(Reg # 1093).</li>
		<li>11 December 1969 : The foundation stone was laid for a cupola(kureshupally) by Rev Fr E P John,
			Eramangalathu.</li>
		<li>31 December 1969 : Got permission for constructing cemetery.</li>
		<li>18 February 1970 : Foundation stone for the cemetery was laid by HH Kadavil Paul Ramban.</li>
		<li>23 June 1970 : On June 23rd 1970 the foundation stone of the church was laid by H.G. Paulose Mor Philoxenos,
			on the same day in the church premise a cupola(kureshu pally) in the name of St George was consecrated along
			with that of cemetery.</li>
		<li>7 September 1970 : The first session of consecration of the church was done by H.G. Paulose Mar Philoxenos.
		</li>
		<li>8 September 1970 : The consecration of the church in the name of St Thomas was completed and The Holly Mass
			was performed.</li>
		<li>27 January 1974 : A constitution was made for the church.</li>
		<li>4 April 1974 : The constitution was accepted in the Parish Assembly.</li>
		<li>10 April 1974 : Electrification of the church was done.</li>
		<li>1975 : Sunday School was started at the church.</li>
		<li>5 February 1978 : The holy relics of H.H. Moran Mor Ignatius Elias The Third was placed by Catholicos
			Baselios Paulose II.</li>
		<li>4 April 1981 : A flagstaff was posted at the church.</li>
		<li>8 February 1982 : Holy Father H.H Moran Mor Ignatius Zakka I Iwas laid foundation stone for the parish hall.
		</li>
		<li>8 September 1995 : Silver jubilee of the church was celebrated and the parish hall was inaugurated.</li>
		<li>15 December 1997 : The Church was registered as a Simhasana Church in Ikaranad Sub Registrar office (Reg #
			160/1997).</li>
		<li>1 November 2009 : Foundation stone was laid for rebuilting the church.</li>
		<li>11 April 2010 : Kudumba Unit was inaugurated.</li>
		<li>5 February 2012 : The church was rebuilt and was consecrated.</li>
	</ul>
	<br>
	<p>We welcome you to visit this Church and invite you for prayer and worship in your visit.</p>
	<br>
</div>