<div class="trans-bck-gnd">
   <h2>About church</h2>
   <p>Vettickal Karmelkunnu St.Thomas Simhasana Syrian Church was founded and established in the
      name of St Thomas,
      under the Holy Apostolic See of Antioch and was consecrated on 8th September 1970. The church was rebuilt and was
      consecrated on 5th February 2012.
   </p>
   <p>The church is situated at Vettickal which is about 25km from the cochin port. The church
      popularly known as
      "Kunnelpally" is situated at the hilly area of Thiruvaniyoor village which belongs to the Kunnathunad thaluk.
   </p>
   <div class="follow-wrp"><a href="https://www.facebook.com/profile.php?id=100022415542549" target="_blank">
         Follow us @ <img class="img-responsive" src="images/facebook-logo.png" alt="Facebook">
      </a>
   </div>
   <div>
      <h3>Hierarchy</h3>
   </div>
   <div class="people-data">
      <div class="people-img"><img class="img-responsive" src="images/landing/patriarch.jpg"></div>
      <div class="people-dtl">
         <strong class="people-name">H H Ignatius Aphrem II</strong><br />
         <span class="people-desc">
            Supreme pontiff of the Universal Syrian Orthodox church patriarch of antioch & all the east. And thus the
            supreme head of the Church.
         </span>
      </div>
   </div>
   <div class="people-data">
      <div class="people-img"><img class="img-responsive" src="images/landing/catholicos.jpg"></div>
      <div class="people-dtl">
         <strong class="people-name">H.B Baselios Thomas I Catholicose</strong><br />
         <span class="people-desc">
            Regional head of the Jacobite Syrian Christian Church. Our pride.
         </span>
      </div>
   </div>
   <div class="people-data">
      <div class="people-img"><img class="img-responsive" src="images/landing/dioscorus.jpg"></div>
      <div class="people-dtl">
         <strong class="people-name">Mor Dioscorus Kuriakose</strong><br />
         <span class="people-desc">Metropolitan of Simhasana Churches including ours. Currently the Abbot of Malecuriz
            Dayro. Our leader.
         </span>
      </div>
   </div>
   <div class="people-data">
      <div class="people-img"><img class="img-responsive" src="images/landing/frepjohn.jpg"></div>
      <div class="people-dtl">
         <strong class="people-name">Very Rev E P John Cor- Episcopa, Eramangalath</strong><br />
         <span class="people-desc">The man who initiated and co-ordinated the work of our first church. He is the lamp
            that guides us.
         </span>
      </div>
   </div>
   <div class="people-data">
      <div class="people-img"><img class="img-responsive" src="images/landing/mathews.jpg"></div>
      <div class="people-dtl">
         <strong class="people-name">Fr Mathews Varghese</strong><br />
         <span class="people-desc">Vicar of the church. Our shepherd.</span>
      </div>
   </div>
</div>