<div class="trans-bck-gnd">
	<h2>Know More</h2>
	<p>
		<h3>Mass Timings</h3>
		<ul>
			<li>Sunday Mass : 8:00 AM</li>
			<li>Saturday Mass : 7:30 AM</li>
		</ul>
	</p>
	<p>
		<h3>Important Feasts</h3>
		<table id="table-feast" class="table table-responsive">
			<tbody>
				<tr>
					<td>Memory Of H.H. Moran Mor Ignatius Elias The Third (Oomallur Bava)</td>
					<td>In February on the previous Sunday of the feast at Oomallur</td>
				</tr>
				<tr>
					<td>Puthunjayarazecha Perunal(Main Feast of the church)</td>
					<td>Next week to Easter</td>
				</tr>
				<tr>
					<td>Memory Of St George(Geevarugees Sahatha)</td>
					<td>May 5,6</td>
				</tr>
				<tr>
					<td>Memory of Catholicos Baselios Paulose II </td>
					<td>Last Sunday of August</td>
				</tr>
				<tr>
					<td>Prathista Perunal(Memory of St Mary)</td>
					<td>September 1-8</td>
				</tr>
				<tr>
					<td>Memory of Saint Gregorios of Parumala  (Parumala Thirumeni)</td>
					<td>October 31, November 1</td>
				</tr>
				<tr>
					<td>Memory of St. Yeldho Mor Baselios Bava</td>
					<td>December-3</td>
				</tr>
			</tbody>
		</table>
	</p>
	<br>
</div>